@model Pizzaslice.Domain.Models.User;

@{
    ViewBag.Title = "Login";    
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Users", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.UserPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPassword)
            @Html.ValidationMessageFor(model => model.UserPassword)
        </div> 
        <p>
            
        </p>
    </fieldset>

    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="ViewLocations">Login</a>
    </div>
    <div>
        <h5><a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="CreatePizza">Make a Pizza!</a></h5>
    </div>
}